<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><strong>AutoMaDe</strong></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="margin-left-20 nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="margin-left-20 margin-right-20 nav-item">
        <a class="nav-link" href="#">Report</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, Ankit</a>
      </li>
    </ul>
  </div>
</nav>

<route-view>

</route-view>